.body{
    background-image: url('https://cdn.bitrix24.site/bitrix/images/landing/krayt/artificial_intelligence/0.jpg');
    background-attachment: fixed;
}

.header{
    background-color: #14112c;
    padding-left: 9%;
    height: 180px;
}

.boton{
    background-color: #6AB8EEE6;
    width: 8%;
    height: 10px;
}

.adicion{
    background-color: #6AB8EEE6;
    height: 100px;
}

.titleCard{
    color: #007bff;
    text-decoration: none !important;
}

.pr{
    background-color:  transparent !important;
    border:  0px solid !important;
}

.tarjetasFinal
{
    background-color: transparent;
}

.menu{
    background-color: transparent;

}
.cambioColor:hover{
   color:  #6AB8EEE6 !important;
    
}


